## 1. Project Overview üîé

In [1]:
import pandas as pd 
import geopandas as gpd 
from shapely.geometry import Point, Polygon, MultiPolygon
from geoalchemy2 import Geometry, WKTElement
import matplotlib.pyplot as plt

## 2. Environment Setup ‚öôÔ∏è

In [4]:
business = pd.read_csv("Businesses.csv")
business.head()

,industry_code,industry_name,sa2_code,sa2_name,0_to_50k_businesses,50k_to_200k_businesses,200k_to_2m_businesses,2m_to_5m_businesses,5m_to_10m_businesses,10m_or_more_businesses,total_businesses
0,A,"Agriculture, Forestry and Fishing",101021007,Braidwood,136,92,63,4,0,0,296
1,A,"Agriculture, Forestry and Fishing",101021008,Karabar,6,3,0,0,0,0,9
2,A,"Agriculture, Forestry and Fishing",101021009,Queanbeyan,6,4,3,0,0,3,15
3,A,"Agriculture, Forestry and Fishing",101021010,Queanbeyan - East,0,3,0,0,0,0,3
4,A,"Agriculture, Forestry and Fishing",101021012,Queanbeyan West - Jerrabomberra,7,4,5,0,0,0,16

## 3. Configuration Block üîê

In [6]:
income = pd.read_csv("income.csv")
income.head()

,sa2_code21,sa2_name,earners,median_age,median_income,mean_income
0,101021007,Braidwood,2467,51,46640,68904
1,101021008,Karabar,5103,42,65564,69672
2,101021009,Queanbeyan,7028,39,63528,69174
3,101021010,Queanbeyan - East,3398,39,66148,74162
4,101021012,Queanbeyan West - Jerrabomberra,8422,44,78630,91981

## 4. Helper Utilities üõ†Ô∏è

In [8]:
population = pd.read_csv("Population.csv")
population.head()

,sa2_code,sa2_name,0-4_people,5-9_people,10-14_people,15-19_people,20-24_people,25-29_people,30-34_people,35-39_people,...,45-49_people,50-54_people,55-59_people,60-64_people,65-69_people,70-74_people,75-79_people,80-84_people,85-and-over_people,total_people
0,102011028,Avoca Beach - Copacabana,424,522,623,552,386,222,306,416,...,572,602,570,520,464,369,226,142,70,7530
1,102011029,Box Head - MacMasters Beach,511,666,702,592,461,347,420,535,...,749,749,794,895,863,925,603,331,264,11052
2,102011030,Calga - Kulnura,200,225,258,278,274,227,214,286,...,325,436,422,397,327,264,190,100,75,4748
3,102011031,Erina - Green Point,683,804,880,838,661,502,587,757,...,859,882,901,930,917,1065,976,773,1028,14803
4,102011032,Gosford - Springfield,1164,1044,1084,1072,1499,1864,1750,1520,...,1330,1241,1377,1285,1166,949,664,476,537,21346

## 5. Database Connection

In [11]:
from sqlalchemy import create_engine
import psycopg2
import psycopg2.extras
import json

credentials = "Credentials.json"

def pgconnect(credential_filepath, db_schema="public"):
    with open(credential_filepath) as f:
        db_conn_dict = json.load(f)
        host       = db_conn_dict['host']
        db_user    = db_conn_dict['user']
        db_pw      = db_conn_dict['password']
        default_db = db_conn_dict['user']
        port       = db_conn_dict['port']
        try:
            db = create_engine(f'postgresql+psycopg2://{db_user}:{db_pw}@{host}:{port}/{default_db}', echo=False)
            conn = db.connect()
            print('Connected successfully.')
        except Exception as e:
            print("Unable to connect to the database.")
            print(e)
            db, conn = None, None
        return db,conn

def query(conn, sqlcmd, args=None, df=True):
    result = pd.DataFrame() if df else None
    try:
        if df:
            result = pd.read_sql_query(sqlcmd, conn, params=args)
        else:
            result = conn.execute(text(sqlcmd), args).fetchall()
            result = result[0] if len(result) == 1 else result
    except Exception as e:
        print("Error encountered: ", e, sep='\n')
    return result

## 6. PostGIS Installation Check üß™

In [14]:
db, conn = pgconnect(credentials)

Connected successfully.

## 7. Create Tables for Flat Data üèóÔ∏è

In [17]:
query(conn, "select PostGIS_Version()")

                         postgis_version
0  3.4 USE_GEOS=1 USE_PROJ=1 USE_STATS=1

## 8. Load & Clean Business, Income, and Population Tables üè¢üí∞üë•

In [20]:
from sqlalchemy import text 
create_sa2_sql = """
DROP TABLE IF EXISTS public.sa2_regions;
CREATE TABLE public.sa2_regions (
    sa2_code_2021 TEXT PRIMARY KEY,
    sa2_name_2021 TEXT,
    geometry      GEOMETRY(MULTIPOLYGON,4326)
);
CREATE INDEX IF NOT EXISTS sa2_regions_geom_idx
    ON public.sa2_regions USING GIST (geometry);

DROP TABLE IF EXISTS public.stops;
CREATE TABLE public.stops (
    stop_id   TEXT PRIMARY KEY,
    stop_name TEXT,
    geometry  GEOMETRY(POINT,4326)
);
CREATE INDEX IF NOT EXISTS stops_geom_idx
    ON public.stops USING GIST (geometry);

"""

conn.execute(text(create_sa2_sql))

/var/folders/ns/kmtnfgds5mgcmy7m6nrm2z8w0000gn/T/ipykernel_20325/1482712762.py:23: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  conn.execute(text(create_sa2_sql))

## 9. Add Indexes & Constraints ‚ö°

In [23]:
for csv_file, table in [
    ("Businesses.csv", "businesses"),
    ("Population.csv", "population"),
    ("Income.csv", "income"),
]:
    df = pd.read_csv(csv_file)
    df.to_sql(
        table,
        conn,
        schema = "public",
        if_exists = "replace",
        index = False,
        method = "multi")
    print(f"Loaded {table}: {len(df)} rows")

Loaded businesses: 12217 rows
Loaded population: 373 rows
Loaded income: 642 rows

## 10. Load & Clean SA2 Boundaries üó∫Ô∏è

In [25]:
# Method A: using your helper
cols = query(conn, """
    SELECT column_name
    FROM information_schema.columns
    WHERE table_name='income'
      AND table_schema='public';
""")
print(cols)

# Method B: manually fetch
result = conn.execute(text("""
    SELECT column_name
    FROM information_schema.columns
    WHERE table_name='income'
      AND table_schema='public';
"""))
print([row[0] for row in result.fetchall()])

     column_name
0     sa2_code21
1       sa2_name
2        earners
3     median_age
4  median_income
5    mean_income
['sa2_code21', 'sa2_name', 'earners', 'median_age', 'median_income', 'mean_income']

### Create SA2 Table

In [28]:
from sqlalchemy import text

conn.execute(text("""
    CREATE INDEX IF NOT EXISTS businesses_sa2_idx
      ON public.businesses (sa2_code);
    CREATE INDEX IF NOT EXISTS population_sa2_idx
      ON public.population (sa2_code);
    CREATE INDEX IF NOT EXISTS income_sa2_idx
      ON public.income (sa2_code21);
"""))
print("Indexes created on sa2_code for all three tables.")

Indexes created on sa2_code for all three tables.

### Insert SA2 to PostGIS

In [31]:
# Reading the shapefile and inspect
import geopandas as gpd 
from geoalchemy2 import Geometry 
from sqlalchemy import text 

sa2 = gpd.read_file("SA2_2021_AUST_SHP_GDA2020/SA2_2021_AUST_GDA2020.shp")
print("Original CRS:", sa2.crs)
sa2 = sa2[["SA2_CODE21", "SA2_NAME21", "geometry"]].rename(
    columns={"SA2_CODE21":"sa2_code", "SA2_NAME21":"sa2_name"})
sa2 = sa2.to_crs(4326)
sa2.head()

Original CRS: EPSG:7844

,sa2_code,sa2_name,geometry
0,101021007,Braidwood,"POLYGON ((149.58 -35.444, 149.58 -35.444, 149...."
1,101021008,Karabar,"POLYGON ((149.22 -35.367, 149.22 -35.367, 149...."
2,101021009,Queanbeyan,"POLYGON ((149.21 -35.343, 149.22 -35.342, 149...."
3,101021010,Queanbeyan - East,"POLYGON ((149.24 -35.348, 149.24 -35.348, 149...."
4,101021012,Queanbeyan West - Jerrabomberra,"POLYGON ((149.2 -35.361, 149.2 -35.355, 149.2 ..."

### Ensure Spatial Index on SA2

In [34]:
ddl = """
DROP TABLE IF EXISTS public.sa2_regions;
CREATE TABLE public.sa2_regions (
    sa2_code TEXT PRIMARY KEY,
    sa2_name TEXT,
    geometry GEOMETRY(MULTIPOLYGON,4326)
);
CREATE INDEX IF NOT EXISTS sa2_regions_geom_idx
  ON public.sa2_regions USING GIST (geometry);
"""
conn.execute(text(ddl))
print("Spatial table sa2_regions created.")

Spatial table sa2_regions created.

## 11. Load & Clean GTFS Stops üöâ

In [37]:
sa2.to_postgis(
    "sa2_regions", conn,
    schema="public",
    if_exists="append",   
    index=False,
    dtype={"geometry": Geometry("MULTIPOLYGON", 4326)}
)
print(f"Inserted {len(sa2):,} SA2 rows.")

Inserted 2,473 SA2 rows.

## 12. Load & Clean School Catchments üè´

In [40]:
from sqlalchemy import text

conn.execute(text("""
DO $$
BEGIN
  -- add PK only if it doesn't exist
  IF NOT EXISTS (
      SELECT 1 FROM pg_constraint
      WHERE conname = 'sa2_regions_pkey'
  ) THEN
      ALTER TABLE public.sa2_regions
        ADD CONSTRAINT sa2_regions_pkey PRIMARY KEY (sa2_code);
  END IF;

  -- add GIST index only if it doesn't exist
  IF NOT EXISTS (
      SELECT 1 FROM pg_indexes
      WHERE schemaname = 'public'
        AND tablename  = 'sa2_regions'
        AND indexname  = 'sa2_regions_geom_idx'
  ) THEN
      CREATE INDEX sa2_regions_geom_idx
        ON public.sa2_regions USING GIST (geometry);
  END IF;
END $$;
"""))

print("Primary key and GIST index verified/created.")

Primary key and GIST index verified/created.

## 13. Final Validation ‚úÖ

In [43]:
import pandas as pd, geopandas as gpd
from geoalchemy2 import Geometry

# build GeoDataFrame
stops = pd.read_csv("Stops.txt")
stops_gdf = gpd.GeoDataFrame(
    stops[["stop_id","stop_name"]],
    geometry=gpd.points_from_xy(stops.stop_lon, stops.stop_lat),
    crs=4326
)

# append rows
stops_gdf.to_postgis("stops", conn,
                     schema="public",
                     if_exists="append",   # structure already created
                     index=False,
                     dtype={"geometry": Geometry("POINT",4326)})

print(f"Inserted {len(stops_gdf):,} stops")

Inserted 114,718 stops